main .container {
  box-sizing: border-box;
  display: flex;
  padding-inline: 0;
}

main {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  padding-bottom: 80px;
  height: 1826px;
  width: 1280px;
  margin-bottom: auto;
  gap: 80px;
}


#sec1 {
  gap: 16px;
  height: 416px;
  width: 1216px;
  grid-template-rows: repeat(2,200px) ;
  grid-template-columns: 1fr repeat(2,288px);
  object-fit: cover;
}


#sec1 figcaption {
  h2 {
    font: var(--h3);
  }
}




#sec1 figure:nth-child(1) {
  grid-area: 1 / 1 / 3 / 4;

  figcaption {
    h2{
      font: var(--h1);
    }
    padding: 24px;
  }

}



#sec2 {
  display: flex;
  flex-direction: column;
  padding-bottom: 24px;
  width: 1216px;
  height: 314px;
  gap: 24px;
}

#sec2 #divsec2{
  display: flex;
  gap: 16px;
  width: 1216px;
  height: 234px;

  figure {
    position: relative;

    figcaption {
      position: absolute;
      top: 8px;
      left: 8px;
      padding: 0;
    }
  }
}

#sec2 .grid2 {
  display: flex;
  flex-direction: column;
  width: 292px;
  height: 234px;
  gap: 8px;
  font: var(--h3);
}


#sec2 .grid2 img {
  width: 292px;
  height: 160px;
}

#sec3 {
  display: flex;
  justify-content: space-between;
  gap: 32px;
  width: 1216px;
  height: 856px;
}

#sec3 #ai {
  display: flex;
  flex-direction: column;
  width: 698px;
  height: 856px;
  gap: 24px;  
}

#grid3 {
  grid-template-columns: 1fr 176px;
  grid-template-rows: repeat(4, 176px);
  row-gap: 32px;
  column-gap: 16px;

  .content-tag {
    display: inline-block;
    background-color: var(--brand-color-dark);
    padding: 4px 8px;
    border-radius: 4px;
    font: var(--blue);
    text-transform: uppercase;
    color: var(--text-color-primary);
    max-width: 143px;
    justify-content: center;
  }

  h2 {
    font: var(--h2);
  }

  p {
    font: var(--text-sm);
  }

  div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;

    div {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 4px;
    }

  }

}

#sec3 #ad {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 488px;
  height: 856px;
}

.grid4 {
  grid-template-columns: 72px 1fr;
  grid-template-rows: repeat(72px);
  row-gap: 32px;
  column-gap: 15px;
}

.grid4 div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 8px;
}


.grid4 div p {
  font: var(--black);
}